<div class="alert alert-success">
    <h1 align="center">Python Variables</h1>
    <h5 align="center">Ako Bartani</h5>
</div>


## Comments

In [2]:
#This is a comment

In [3]:
#This is a comment
#written in
#more than just one line

In [4]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Variables

Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [5]:
x = 5
y = "John"

In [6]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [7]:
x = "John"
# is the same as
x = 'John'

<h4>Variable Names</h4>
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:
<ul>
    <li>A variable name must start with a letter or the underscore character</li>
    <li>A variable name cannot start with a number</li>
    <li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</li>
    <li>Variable names are case-sensitive (age, Age and AGE are three different variables)</li>
</ul>

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [9]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [10]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [11]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [14]:
x = 5
y = 10
print(x + y)

15

## Getting the Data Type

In [18]:
x = 5
print(type(x))

<class 'int'>

## Numbers

<ul>
    <li>int</li>
    <li>float</li>
    <li>complex</li>    
</ul>

In [19]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [20]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

<h4>Type Conversion</h4>

In [21]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number

Python does not have a <b>random()</b> function to make a random number, but Python has a built-in module called random that can be used to make random numbers

Note: Import the random module, and display a random number between 1 and 9

In [29]:
import random

print(random.randrange(1,10))

6

## Strings

In [30]:
# Get the character at position 1 (remember that the first character has the position 0)
a = "Hello, World!"
print(a[1])

e

In [31]:
# Get the characters from position 2 to position 5 (not included)
b = "Hello, World!"
print(b[2:5])

llo

In [32]:
# Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [33]:
# String Length
a = "Hello, World!"
print(len(a))

13

<h4>String Methods</h4>

In [34]:
# The strip() method removes any whitespace from the beginning or the end
a = " Hello, World! "
print(a.strip())

Hello, World!

In [35]:
# The lower() method returns the string in lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [36]:
# The upper() method returns the string in upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [37]:
# The replace() method replaces a string with another string
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [38]:
# The split() method splits the string into substrings if it finds instances of the separator
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

<h4>Check String</h4>

In [39]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [40]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

## Booleans

Booleans represent one of two values: True or False.

## Operators

<p>Python divides the operators in the following groups:</p>
<ul>
	<li>Arithmetic operators</li>
	<li>Assignment operators</li>
	<li>Comparison operators</li>
	<li>Logical operators</li>
	<li>Identity operators</li>
	<li>Membership operators</li>
	<li>Bitwise operators</li>
</ul>

<h4>Python Arithmetic Operators</h4>
<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:25%">Name</th>
<th style="width:50%">Example</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
</tr>
</table>

<h4>Python Assignment Operators</h4>

<p>Assignment operators are used to assign values to variables:</p>

<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:25%">Example</th>
<th style="width:50%">Same As</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
  </tr>
  <tr>
<td>&amp;=</td>
<td>x &amp;= 3</td>
<td>x = x &amp; 3</td>
  </tr>
  <tr>
<td>|=</td>
<td>x |= 3</td>
<td>x = x | 3</td>
  </tr>
<tr>
<td>^=</td>
<td>x ^= 3</td>
<td>x = x ^ 3</td>
</tr>
<tr>
<td>&gt;&gt;=</td>
<td>x &gt;&gt;= 3</td>
<td>x = x &gt;&gt; 3</td>
</tr>
<tr>
<td>&lt;&lt;=</td>
<td>x &lt;&lt;= 3</td>
<td>x = x &lt;&lt; 3</td>
</tr>
</table>

<h4>Python Comparison Operators</h4>

<p>Comparison operators are used to compare two values:</p>

<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:25%">Name</th>
<th style="width:50%">Example</th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
</tr>
</table>

<h4>Python Logical Operators</h4>

<p>Logical operators are used to combine conditional statements:</p>

<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:50%">Description</th>
<th style="width:25%">Example</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>
</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>
</tr>
</table>

<h4>Python Identity Operators</h4>

<p>Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:</p>

<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:50%">Description</th>
<th style="width:25%">Example</th>
</tr>
<tr>
<td>is&nbsp;</td>
<td>Returns True if both variables are the same object</td>
<td>x is y</td>
</tr>
<tr>
<td>is not</td>
<td>Returns True if both variables are not the same object</td>
<td>x is not y</td>
</tr>
</table>

<h4>Python Membership Operators</h4>

<p>Membership operators are used to test if a sequence is presented in an object:</p>

<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:50%">Description</th>
<th style="width:25%">Example</th>
</tr>
<tr>
<td>in&nbsp;</td>
<td>Returns True if a sequence with the specified value is present in the object</td>
<td>x in y</td>
</tr>
<tr>
<td>not in</td>
<td>Returns True if a sequence with the specified value is not present in the 
object</td>
<td>x not in y</td>
</tr>
</table>

<h4>Python Bitwise Operators</h4>

<p>Bitwise operators are used to compare (binary) numbers:</p>

<table style="width:100%; direction: ltr;">
<tr>
<th style="width:25%">Operator</th>
<th style="width:25%">Name</th>
<th style="width:50%">Description</th>
</tr>
  <tr>
<td>&amp;&nbsp;</td>
<td>AND</td>
<td>Sets each bit to 1 if both bits are 1</td>
  </tr>
  <tr>
<td>|</td>
<td>OR</td>
<td>Sets each bit to 1 if one of two bits is 1</td>
  </tr>
  <tr>
<td>&nbsp;^</td>
<td>XOR</td>
<td>Sets each bit to 1 if only one of two bits is 1</td>
  </tr>
<tr>
<td>~&nbsp;</td>
<td>NOT</td>
<td>Inverts all the bits</td>
</tr>
<tr>
<td>&lt;&lt;</td>
<td>Zero fill left shift</td>
<td>Shift left by pushing zeros in from the right and let the leftmost bits fall 
off</td>
</tr>
<tr>
<td>&gt;&gt;</td>
<td>Signed right shift</td>
<td>Shift right by pushing copies of the leftmost bit in from the left, and let 
the rightmost bits fall off</td>
</tr>
</table>

### End